<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108132970133-np6agk0pj420f48hb95pd7aveiutm6ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108132970133-np6agk0pj420f48hb95pd7aveiutm6ob</string>
	<key>API_KEY</key>
	<string>AIzaSyD_j5nOUPDEDKbilY1KllYjUOnaqBRQG7M</string>
	<key>GCM_SENDER_ID</key>
	<string>108132970133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maurzac.ListProApp</string>
	<key>PROJECT_ID</key>
	<string>listproapp-fddef</string>
	<key>STORAGE_BUCKET</key>
	<string>listproapp-fddef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108132970133:ios:a16e85a6f9c3711eb5759c</string>
</dict>
</plist>